<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>165821714909-4j1lmoal56ak0i6fpjmb576ib27qs8qg.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.165821714909-4j1lmoal56ak0i6fpjmb576ib27qs8qg</string>
	<key>API_KEY</key>
	<string>AIzaSyAfSkXB9L2H_PmHS4yrJHUX8HwGqSVC5jE</string>
	<key>GCM_SENDER_ID</key>
	<string>165821714909</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.mycompany.crmapp</string>
	<key>PROJECT_ID</key>
	<string>onboard-72490</string>
	<key>STORAGE_BUCKET</key>
	<string>onboard-72490.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:165821714909:ios:ed5e121be09bc09fcfe634</string>
</dict>
</plist>